.textColor{
    background-color: #FCBA04;
    background-color: #A50104;
    background-color: #F2FDFF;
    background-color: #030301;
    background-color: #7C7C7C;
}

.backgroundColor{
    background-color: #040403;
    background-color: #404E5c;
    background-color: #628395;
    background-color: #34344A;
    background-color: #7F557D;
    background-color: #621708;
    background-color: #09814A;
}